doctype html

html(lang='en', ng-app="RrApp")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='A front-end template that helps you build fast, modern mobile web apps.')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Material Design Lite
        // Add to homescreen for Chrome on Android
        meta(name='mobile-web-app-capable', content='yes')
        link(rel='icon', sizes='192x192', href='images/touch/chrome-touch-icon-192x192.png')
        // Add to homescreen for Safari on iOS
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black')
        meta(name='apple-mobile-web-app-title', content='Material Design Lite')
        link(rel='apple-touch-icon-precomposed', href='apple-touch-icon-precomposed.png')
        // Tile icon for Win8 (144x144 + tile color)
        meta(name='msapplication-TileImage', content='images/touch/ms-touch-icon-144x144-precomposed.png')
        meta(name='msapplication-TileColor', content='#3372DF')
        // SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones
        //
          <link rel="canonical" href="http://www.example.com/">
        link(href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en', rel='stylesheet')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet', href='css/mdl/css/material.min.css')
        link(rel='stylesheet', href='css/styles.css')
        style.
            #view-source {
                position: fixed;
                display: block;
                right: 0;
                bottom: 0;
                margin-right: 40px;
                margin-bottom: 40px;
                z-index: 900;
            }
            #things section{
                display:inline-block;
            }
        script(src='js/react/react.js')
        //script(src='js/react/JSXTransformer.js')
        script(src='js/angular/angular.js')
        script(src='js/angular/angular-route.js')
        //script(type="text/jsx" src='js/things/things.jsx')
        script(src='js/RrApp/RrAppJsxFactory.js')
        script(src='js/RrApp/RrAppThingsCtrl.js')
        script(src='js/RrApp/RrAppMainCtrl.js')
        script(src='js/RrApp.js')



    body.mdl-demo.mdl-color--grey-100.mdl-color-text--grey-700.mdl-base
        .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
            header.mdl-layout__header.mdl-layout__header--scroll.mdl-color--primary
                .mdl-layout--large-screen-only.mdl-layout__header-row
                .mdl-layout--large-screen-only.mdl-layout__header-row
                    h3 RedRow
                .mdl-layout--large-screen-only.mdl-layout__header-row
                .mdl-layout__tab-bar.mdl-js-ripple-effect.mdl-color--primary-dark
                    a.mdl-layout__tab.is-active(href='#overview') Overview
                    a.mdl-layout__tab(href='#wNet') Wise Network
                    a.mdl-layout__tab(href='#things') Things

            main.mdl-layout__content



                #overview.mdl-layout__tab-panel.is-active
                    section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
                        .mdl-card.mdl-cell.mdl-cell--12-col
                            .mdl-card__supporting-text.mdl-grid.mdl-grid--no-spacing
                                h4.mdl-cell.mdl-cell--12-col Details
                                .section__circle-container.mdl-cell.mdl-cell--2-col.mdl-cell--1-col-phone
                                    .section__circle-container__circle.mdl-color--primary
                                .section__text.mdl-cell.mdl-cell--10-col-desktop.mdl-cell--6-col-tablet.mdl-cell--3-col-phone
                                    h5 Lorem ipsum dolor sit amet
                                    |                   Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Duis nulla tempor do aute et eiusmod velit exercitation nostrud quis
                                    a(href='#') proident minim
                                    | .
                                .section__circle-container.mdl-cell.mdl-cell--2-col.mdl-cell--1-col-phone
                                    .section__circle-container__circle.mdl-color--primary
                                .section__text.mdl-cell.mdl-cell--10-col-desktop.mdl-cell--6-col-tablet.mdl-cell--3-col-phone
                                    h5 Lorem ipsum dolor sit amet
                                    |                   Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Duis nulla tempor do aute et eiusmod velit exercitation nostrud quis
                                    a(href='#') proident minim
                                    | .
                                .section__circle-container.mdl-cell.mdl-cell--2-col.mdl-cell--1-col-phone
                                    .section__circle-container__circle.mdl-color--primary
                                .section__text.mdl-cell.mdl-cell--10-col-desktop.mdl-cell--6-col-tablet.mdl-cell--3-col-phone
                                    h5 Lorem ipsum dolor sit amet
                                    |                   Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Duis nulla tempor do aute et eiusmod velit exercitation nostrud quis
                                    a(href='#') proident minim
                                    | .
                            .mdl-card__actions
                                a.mdl-button(href='#') Read our features
                        button#btn2.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon
                            i.material-icons more_vert
                        ul.mdl-menu.mdl-js-menu.mdl-menu--bottom-right(for='btn2')
                            li.mdl-menu__item Lorem
                            li.mdl-menu__item(disabled='') Ipsum
                            li.mdl-menu__item Dolor

                #wNet.mdl-layout__tab-panel
                    section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
                        header.section__play-btn.mdl-cell.mdl-cell--3-col-desktop.mdl-cell--2-col-tablet.mdl-cell--4-col-phone.mdl-color--teal-100.mdl-color-text--white
                            i.material-icons play_circle_filled
                        .mdl-card.mdl-cell.mdl-cell--9-col-desktop.mdl-cell--6-col-tablet.mdl-cell--4-col-phone
                            .mdl-card__supporting-text
                                h4 Features
                                |                 Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse.
                            .mdl-card__actions
                                a.mdl-button(href='#') Read our features
                        button#btn1.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon
                            i.material-icons more_vert
                        ul.mdl-menu.mdl-js-menu.mdl-menu--bottom-right(for='btn1')
                            li.mdl-menu__item Lorem
                            li.mdl-menu__item(disabled='') Ipsum
                            li.mdl-menu__item Dolor


                #things.mdl-layout__tab-panel(ng-controller="thingsCtrl")
                    //section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp.mdl-cell.mdl-cell--6-col demo
                        .mdl-card.mdl-cell.mdl-cell--12-col
                            .mdl-card__supporting-text
                                h4 Thing #1
                                |                Thing 1 info...
                            .mdl-card__actions
                                a.mdl-button(href='#') Read our features
                        button#btn1.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon
                            i.material-icons more_vert
                        ul.mdl-menu.mdl-js-menu.mdl-menu--bottom-right(for='btn1')
                            li.mdl-menu__item Lorem
                            li.mdl-menu__item(disabled='') Ipsum
                            li.mdl-menu__item Dolor

                    div#thingsSet loading...




                footer.mdl-mega-footer
                    .mdl-mega-footer--middle-section
                        .mdl-mega-footer--drop-down-section
                            input.mdl-mega-footer--heading-checkbox(type='checkbox', checked='')
                            h1.mdl-mega-footer--heading Features
                            ul.mdl-mega-footer--link-list
                                li
                                    a(href='#') About
                                li
                                    a(href='#') Terms
                                li
                                    a(href='#') Partners
                                li
                                    a(href='#') Updates
                        .mdl-mega-footer--drop-down-section
                            input.mdl-mega-footer--heading-checkbox(type='checkbox', checked='')
                            h1.mdl-mega-footer--heading Details
                            ul.mdl-mega-footer--link-list
                                li
                                    a(href='#') Spec
                                li
                                    a(href='#') Tools
                                li
                                    a(href='#') Resources
                        .mdl-mega-footer--drop-down-section
                            input.mdl-mega-footer--heading-checkbox(type='checkbox', checked='')
                            h1.mdl-mega-footer--heading Technology
                            ul.mdl-mega-footer--link-list
                                li
                                    a(href='#') How it works
                                li
                                    a(href='#') Patterns
                                li
                                    a(href='#') Usage
                                li
                                    a(href='#') Products
                                li
                                    a(href='#') Contracts
                        .mdl-mega-footer--drop-down-section
                            input.mdl-mega-footer--heading-checkbox(type='checkbox', checked='')
                            h1.mdl-mega-footer--heading FAQ
                            ul.mdl-mega-footer--link-list
                                li
                                    a(href='#') Questions
                                li
                                    a(href='#') Answers
                                li
                                    a(href='#') Contact us
                    .mdl-mega-footer--bottom-section
                        .mdl-logo
                            | More Information
                        ul.mdl-mega-footer--link-list
                            li
                                a(href='https://developers.google.com/web/starter-kit/') Web Starter Kit
                            li
                                a(href='#') Help
                            li
                                a(href='#') Privacy and Terms
        a#view-source.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.mdl-shadow--4dp.mdl-color--accent
            i.material-icons(role='presentation') micro
            span.visuallyhidden micro
        script(src='js/mdl/material.min.js')

