doctype html

html(lang='en', ng-app="RrApp")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='A front-end template that helps you build fast, modern mobile web apps.')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Material Design Lite
        // Add to homescreen for Chrome on Android
        meta(name='mobile-web-app-capable', content='yes')
        link(rel='icon', sizes='192x192', href='images/touch/chrome-touch-icon-192x192.png')
        // Add to homescreen for Safari on iOS
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black')
        meta(name='apple-mobile-web-app-title', content='Material Design Lite')
        link(rel='apple-touch-icon-precomposed', href='apple-touch-icon-precomposed.png')
        // Tile icon for Win8 (144x144 + tile color)
        meta(name='msapplication-TileImage', content='images/touch/ms-touch-icon-144x144-precomposed.png')
        meta(name='msapplication-TileColor', content='#3372DF')
        // SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones
        //

        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

        link(rel='stylesheet', href='css/styles-mdl.css')
        link(rel='stylesheet', href='css/custom.css')
        link(rel='stylesheet', href='css/mdl/css/material.min.css')
        link(rel='stylesheet', href='css/styles.css')

        script(src='js/react/react.js')
        script(src='js/lodash/lodash.js')
        script(src='js/q/q.js')
        script(src='js/cmu/audioRecorder.js')
        script(src='js/cmu/callbackManager.js')
        script(src='js/cmu/recognizer.js')
        script(src='js/cmu/cmuApi.js')
        script(src='js/angular/angular.js')
        script(src='js/angular/angular-route.js')
        script(src='js/angular/ngStorage.min.js')
        script(src='js/socketIo/socket.io-1.2.0.js')
        script(src='js/RrApp/RrAppJsxFactory.js')
        script(src='js/RrApp/RrAppThingsCtrl.js')
        script(src='js/RrApp/RrAppMenuCtrl.js')
        script(src='js/RrApp/RrAppAuthCtrl.js')
        script(src='js/RrApp/RrAppWNetCtrl.js')
        script(src='js/RrApp/RrAppVoiceCtrl.js')
        script(src='js/RrApp/services/RrAppRestService.js')
        script(src='js/RrApp/services/RrAppVoiceStorageService.js')
        script(src='js/RrApp/services/RrAppSocketService.js')
        script(src='js/RrApp/configs/RrAppConfigService.js')
        script(src='js/RrApp.js')



    body
        .demo-layout.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
            header.demo-header.mdl-layout__header.mdl-color--white.mdl-color--grey-100.mdl-color-text--grey-600
                .mdl-layout__header-row
                    span.mdl-layout-title Home

                    .mdl-layout-spacer

                    .mdl-textfield.mdl-js-textfield.mdl-textfield--expandable
                        label.mdl-button.mdl-js-button.mdl-button--icon(for='search')
                            i.material-icons search

                        .mdl-textfield__expandable-holder
                            input#search.mdl-textfield__input(type='text')

                            label.mdl-textfield__label(for='search') Enter your query...

                    button#hdrbtn.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon
                        i.material-icons more_vert

                    ul.mdl-menu.mdl-js-menu.mdl-js-ripple-effect.mdl-menu--bottom-right(for='hdrbtn', ng-controller="menuCtrl")

                        li.mdl-menu__item.mdl-menu_manipulate(href='#auth', ng-controller="authCtrl") {{storage.username || 'Login'}}

                        li.mdl-menu__item.mdl-menu_manipulate(href='#things', ng-controller="authCtrl", ng-show="storage.username") Things

                        li.mdl-menu__item.mdl-menu_manipulate About



            .demo-drawer.mdl-layout__drawer.mdl-color--blue-grey-900.mdl-color-text--blue-grey-50
                header.demo-drawer-header
                    //img.demo-avatar(src='images/user.jpg')

                    .demo-avatar-dropdown
                        span hello@example.com

                        .mdl-layout-spacer

                        button#accbtn.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon
                            i.material-icons(role='presentation') arrow_drop_down

                            span.visuallyhidden Accounts

                        ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='accbtn')
                            li.mdl-menu__item hello@example.com

                            li.mdl-menu__item info@example.com

                            li.mdl-menu__item
                                i.material-icons add
                                | Add another account...

                nav.demo-navigation.mdl-navigation.mdl-color--blue-grey-800
                    a.mdl-navigation__link(href='')
                        i.mdl-color-text--blue-grey-400.material-icons(role='presentation') home
                        | Home

                #p2.mdl-js-progress.mdl-progress__indeterminate

            main.mdl-layout__content.mdl-color--grey-100.mdl-demo

                #things.mdl-grid.demo-content(ng-controller="thingsCtrl")

                    div(ng-controller="wNetCtrl")
                        #wNetSet
                    div#thingsSet

                #auth.mdl-grid.demo-content(ng-controller="authCtrl")
                    #loginMe




        div(ng-controller="authCtrl")
            a(ng-controller="voiceCtrl", ng-click="execute()", ng-show="storage.username")#voice-record.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.mdl-shadow--4dp.mdl-color--accent
                i.material-icons(role='presentation') micro
                span.visuallyhidden micro

        script(src='js/mdl/material.min.js')

