section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp.mdl-cell.mdl-cell--6-col
    .mdl-card.mdl-cell.mdl-cell--12-col
        .mdl-card__supporting-text
            h4 {{name}} # {{ id }}
            |                Thing 1 info...
        .mdl-card__actions
            a.mdl-button(href='#') Read our features
    button#btn1.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon
        i.material-icons more_vert
    ul.mdl-menu.mdl-js-menu.mdl-menu--bottom-right(for='btn1')
        li.mdl-menu__item Lorem
        li.mdl-menu__item(disabled='') Ipsum
        li.mdl-menu__item Dolor
