.modal.fade.authModal(tabindex="-1", role="dialog", ng-controller="LoginCtrl")
    .modal-dialog
        .modal-content(ng-hide="isAuth")
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') x
                h4.modal-title Modal title
            .modal-body
                .input-group
                    span.input-group-addon A
                    input.form-control(type='text', placeholder='Username', ng-model="username")
                .input-group
                    span.input-group-addon P
                    input.form-control(type='text', placeholder='Password', ng-model="password")
            .modal-footer
                button.btn.btn-primary(type='button', ng-click="login()") LogIn


        .modal-content(ng-show="isAuth")
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') x
                h4.modal-title Modal title
            .modal-body
                .input-group
                    p
                        strong Logout,
                        | &nbsp{{username}} ?
            .modal-footer
                button.btn.btn-primary(type='button', ng-click="logout()") LogOut
