.modal.fade.thingModal.remove(tabindex="-1", role="dialog", ng-controller="thingsRemoveCtrl")
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true', ng-click = "back('/things')") x
                h4.modal-title Remove thing
            .modal-body
                .input-group(ng-repeat="thing in connectedThings")
                    input(type="radio", name="thing", ng-model="$parent.chosenThing", value="{{$index}}")
                    | &nbsp port: {{thing.comName}}, manufacture: {{thing.manufacturer}}
            .modal-footer
                button.btn.btn-primary(type='button', ng-click="remove('/things')", data-dismiss='modal') Remove