.modal.fade.thingModal.voice(tabindex="-1", role="dialog", ng-controller="thingsVoiceCtrl")
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true', ng-click = "back('/things')") x
                h4.modal-title Record
            .modal-body

            .modal-footer
                button.btn.btn-default(type='button', ng-click="record()", ng-class="{'btn-primary': isRecording}") Record

