#main.container
    .row
        .col-md-4.col-sm-6
            .panel.panel-default
                .panel-heading
                    h4 Actions
                .panel-body
                    .list-group
                        a.list-group-item(href='')  Add / Remove command
                        a.list-group-item(href='') Modify
                        a.list-group-item(href='') Test



        .col-md-4.col-sm-6
            .panel.panel-default
                .panel-heading
                    h4 Mental Level
                .panel-body
                    .row
                        .col-sm-6
                            p
                                strong Meditation
                        .col-sm-6
                            .progress
                                .progress-bar.progress-bar-success(ng-style='{width: data.meditation}')

                    .row
                        .col-sm-6
                            p
                                strong Attention
                        .col-sm-6
                            .progress
                                .progress-bar.progress-bar-danger(ng-style='{width: data.attention}')