.square-card{
    width: 320px;
    height: 320px;
}

.width-fourth{
    width: 230px;
}

.square-card .mdl-textfield{
    left: 10px;
}

#auth .mdl-card__supporting-text {
    margin: 35px;
}

.mdl-badge.green[data-badge]:after {
    background:rgb(76, 175, 80);
}

.mdl-badge.red[data-badge]:after {
    background:rgb(244, 67, 54);
}

