.square-card{
    width: 320px;
    height: 320px;
}

.width-fourth{
    width: 230px;
}

.square-card .mdl-textfield{
    left: 10px;
}

#auth .mdl-card__supporting-text {
    margin: 35px;
}

.mdl-badge.green[data-badge]:after {
    background:rgb(76, 175, 80);
}

.mdl-badge.red[data-badge]:after {
    background:rgb(244, 67, 54);
}

.demo-chart:nth-child(1) {
    color: #ACEC00;
}


#thingsSet > div > section > div > table {
    left:5px;
}

#thingsSet{
    width: 100%;
}

#thingsSet .mdl-textfield{
    width: 340px;
}

#thingsSet .mdl-card__actions{
    text-align: center;
}


.mdl-thing{
    min-width:320px
}

#wNetSet{
    width: 100%;
}


#auth {
    padding-top: 16px;
}



#voice-record {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
}
#things section{
    display:inline-block;
}